<div class='comments'>
  {{#each this}}
    <section class='comment-text'>
      <div class='text'>
        {{comment_content}}
      </div>
      <div class='comment-meta'>
        {{user.username}}
        on
        {{format_date created_at}}
      </div>

    </section>
  {{/each}}
</div>