<head>
  <title>homePage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Unicorn</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://unpkg.com/tapilwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="flex w-screen h-screen justify-center items-center">
  <div class="flex-col space-y-2 justify-center items-center">
    <button id='loginButton' onclick="" class="mx-auto rounded-md p-2 bg-purple-500 text-white">
    
     Login
    </button>
    <p id='userWallet' class='text-lg text-gray-600 my-2'></p>
  </div>

</body>
</html>
