    
    <form class='login-form'>
    <div>
      <h3 class="loginHead">Login</h3>
      <input type='text' id='email-login' placeholder="Email" />
    </div>
    <div>
      <input type='password' id='password-login' placeholder="Password" />
    </div>
    <div>

      <button type='submit' class='button'>login</button>

    </div>
  </form>


<script src='/js/login.js'></script>