<!-- displaying articles -->
{{> post-info post}}

{{> comments post.comments}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <input 
     class="ml-5" 
     type='text'
     id='comment-content'
     name='comment-content'
     placeholder='Type comment here :)'
     />
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5 add-comment-btn" type="submit">add comment</button>
  </div>
    <div>
      <a href="/" class="is-pulled-right"> ← back to dashboard</a>
    </div>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}